/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 4vh;
}
.header {
  height: 100vh;
  background-color: aliceblue;
  background-image: linear-gradient(to right bottom, #7ed56fa7, #28b485a3),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  font-size: large;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
  text-align: center;

  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 40px;
  animation: moveInTop 2s ease-in;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.heading-primary-sub {
  display: block;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 17px;

  animation: moveInRight 2s ease-in;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30vh);
  }

  80% {
    transform: translateX(-5vh);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-30vh);
  }
  80% {
    transform: translateX(5vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.border-box {
  height: 100px;
  width: 500px;
  background-color: rgb(62, 170, 176);
  box-sizing: border-box;
  border: rgb(136, 20, 62);
  border-width: 1rem;
}
.content-box {
  height: 100px;
  width: 500px;
  background-color: rgb(23, 221, 20);
  padding: 15px;
  border: rgb(136, 20, 62);
  border-width: 1rem;
}

/* .btn {
  text-transform: uppercase; 
border-radius: 100%; 
 font-size: 30px;
  font-weight: 400;
  padding: 20px;
  color: black;
  background-color: #fff;
} */

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
}

.btn-white {
  background-color: white;
  color: #777;
}
